* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 60px auto 30px;
  max-width: 880px;
  box-sizing: border-box;
}

.header-sub-link {
  color: grey;
  font-size: 14px;
}

.header-title__blog {
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.header-search {
  margin-right: 10px;
  cursor: pointer;
}
.fa-search {
  color: grey;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 22px;
  row-gap: 40px;
  max-width: 880px;
  padding: 0 40px;
  margin: 10px auto;
  box-sizing: border-box;
}

.main-grid {
  border: 6px solid rgb(244, 244, 242);
  height: 200px;
  padding: 20px;
}

.main-grid:hover {
  border: 2px solid rgb(244, 244, 242);
  border-radius: 4px;
  cursor: pointer;
}

.main-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.item-row {
  display: flex;
  flex-direction: column;
}

.row-category {
  margin-bottom: 8px;
}

.cate-world {
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 125, 226);
}

.cate-design {
  font-size: 14px;
  font-weight: 600;
  color: rgb(22, 176, 22);
}

.row-date {
  margin: 4px 0px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.row-title > h2 {
  font-size: 20px;
}

.row-descript {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  max-width: 880px;
  padding: 0 40px;
  margin: 20px auto 0;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgb(244, 244, 242);
}

.item-row-link {
  font-size: 12px;
  color: rgb(53, 125, 226);
}

.footer-text {
  text-align: center;
}
